body{
    background-color: aliceblue;
}

.nav-pills .nav-link{
    border-radius: 0rem !important;
    background-color: #5ac4e4;
    color: white
}

.nav-pills .nav-link.active {
    background-color: #0097bc;
    color: white
}

.nav-pills .nav-link:hover {
    background-color: #728c94;
    color: white
}

.patagoniaSky{
    max-width: 100%;
}

.chaltenContainer{
    background-color: white;
    margin: 20px;
    box-shadow: 0px 0px 10px 5px lightgrey;
}

.chaltenHeader{
    margin-top: 20px;
    text-align: center;
}

.icon{
    width: 20px;
    vertical-align: text-bottom;
    margin-right: 10px;
}

.whyDiv{
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 80%;
    background-color: white;
    box-shadow: 0px 0px 10px 5px lightgrey;
}

.whyPtag{
    text-align: center;
}

/*====Torres=====*/

.torres{
    width: 50%;
    margin: 0px !important
}

.torresDiv{
    margin: 20px;
    text-align: left;
    background-color: white;
    box-shadow: 0px 0px 10px 5px lightgrey;
}

.torresDescription{
    margin: 20px
}

/*=====Table=====*/

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 5px lightgrey;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


/*=====*/


@media only screen and (min-width: 601px){
    #guanacosMini{
        display: none;
    }

    #torresMini{
        display: none
    }

    #ushuaiaMini{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #guanacosLarge {
        display: none
    }

    #guanacosMini{
        display: block;
        width: 90%;
        margin: auto !important;
        margin-bottom: 20px !important;
        box-shadow: 0px 0px 10px 5px lightgrey;
    }

    #torresLarge{
        display: none
    }

    #torresMini{
        display: block;
        width: 90%;
        margin: auto !important;
        margin-bottom: 20px !important;
        box-shadow: 0px 0px 10px 5px lightgrey;

    }

    #ushuaiaLarge{
        display: none;
    }

    #ushuaiaMini{
        display: block;
        width: 90%;
        margin: auto !important;
        margin-bottom: 20px !important;
        box-shadow: 0px 0px 10px 5px lightgrey;
    }

    p{
        margin: 20px
    }
}
