.nav-pills .nav-link{
    border-radius: 0rem !important;
    background-color: #5ac4e4;
    color: white
}

.nav-pills .nav-link.active {
    background-color: #0097bc;
    color: white
}

.nav-pills .nav-link:hover {
    background-color: #728c94;
    color: white
}

.patagoniaSky{
    max-width: 100%;
}

.chaltenContainer{
    background-color: aliceblue;
    margin: 20px;
    border: 1px solid #0097bc;
}

.chaltenHeader{
    margin-top: 20px;
    text-align: center;
}

.icon{
    width: 20px;
    vertical-align: text-bottom;
    margin-right: 10px;
}
